* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;  
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

#entretenimento h2{
    color: green;
}

#entretenimento h3{
    color: purple;
}

#entretenimento p{
    color: gold;
}

#tecnologia h2 {
    color: blue;
}

#tecnologia h3 {
    color: blueviolet;
}

#tecnologia p {
    color: red;
}